@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

html, body, #root, .app-container {
  height: 100%;
}

body {
  font-family: "Nunito Sans" !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* landing page nav bar positioning */
.nav-bar-bottom {
  position: fixed;
  bottom: 0;
  right: 0;
}


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  z-index: 0;
  margin: 1rem;
  font-size: 16pt;
}

.nav-container a:hover {
  color: lightgrey;
}

.nav-right {
  display: flex;
}

.nav-link {
  color: white;
  z-index: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}