.card-container {
    background-color: white;
    width: 7rem;
    height: 7rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5rem;
}

.card-container p {
    text-align: center;
    font-size: 1.2rem;
}

.guess {
    background-color: #39AE4B;
    border-radius: 3px;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.hidden {
    display: none;
}

.card-container:hover {
    width: 6.5rem;
    height: 6.5rem;
}

.decor {
    text-decoration: line-through;
    color: gray;
}