.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 9rem;
    height: 9rem;
    margin: 1rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 0.5rem;
    transition: transform .2s;
}

.card-container p {
    text-align: center;
    font-size: 1.2rem;
}

.guess {
    /*background-color: #39AE4B;*/
    /*border-radius: 3px;*/
    /*margin-left: 0.4rem;*/
    /*margin-right: 0.4rem;*/
}

.hidden {
    display: none;
}

.card-container:hover {
    transform: scale(1.2);
}

.card-clicked {
    background-color: lightgrey;
}

.decor {
    text-decoration: line-through;
}
