.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.board-container {
    border: 3px solid #FFFFFF;
    /*box-sizing: border-box;*/
    border-radius: 20px;
    /*margin: 1rem;*/
    /*margin-top: 5rem;*/
    /*width: 70%;*/
}