.game-play-page {
    background-color: #3CAEA3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.quit-button {
    position: fixed;
    bottom: 0px;
    right: 0px; 
    margin: 5rem;
}

.your-person {
    font-size: 2rem;
    color: white;
    margin-left: 4rem;
    font-weight: 600;
  }
  
.guess-descrip {
    font-style: italic;
    margin-left: 4rem;
}

.status-info {
    color:white;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 5rem;
    margin-right: 2rem;
     
}

.room-code {
    color: white;
    font-size: 2rem;
    margin-top: 10rem;
    margin-left: 2rem;
    text-align: center;
}

.typewriter {
    text-align: center;
    color: white;
    font-size: 4rem;
}