@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

.landing-container {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* guess who */
.top-header {
    color: white;
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
    margin-bottom: 30px;
}

/* start/join game */
.launch-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 85%;
    margin: auto;
    font-weight: 800;
}

.launch-container p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.launch-container form, label {
    width: 100%;
}

/* enter room code */
.launch-container input {
    width: 100%;
    height: 56px;
    border: 1px solid #FDD55C;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-weight: 800;
}

/* start/join buttons */
.launch-container button {
    width: 100%;
    height: 56px;

    /*border: 1px solid #C4C4C4;*/
    box-sizing: border-box;
    border-radius: 10px;

    text-align: center;
    font-weight: 800;
}

.btn-join {
    border: 1px solid #FDD55C;
    background-color: #FDD55C;
    color: #fff !important;
}

.btn-join:hover, .btn-join:focus, .btn-join:active {
    border: 1px solid #FDD55C;
    background-color: #edc651;
}


