@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

.landing-container {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
} 

.launch-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    font-family: "Nunito Sans";
}

.top-header {
    color: white;
    font-family: "Nunito Sans";
    text-align: center;
    font-weight: 700;
    font-size: 4.5rem;
}

