.newsfeed {
    border-radius: 10px;
    background-color: #fff;
    flex: 2 1 auto;
    height: 70%;
    margin-right: 3rem;
}

.news-title, .neither-update {
    text-align: center;
    padding: 1rem;
}

.news-title {
    font-size: 1.5rem;
}

.update-container {
    flex: 1 1 auto;
    overflow-y: auto;
    min-height: 0;
    max-height: 85%;
    margin: .5rem;
}

.my-update {
    text-align: right;
    margin-right: 1rem;
    padding-bottom: 0.5rem;
    color: black;
}

.their-update {
    text-align: left;
    margin-left: 1rem;
    padding-bottom: 0.5rem;
    color: black;
}

.personal {
    font-size: 1.2rem;
    color: cadetblue;
}

.opponent {
    font-size: 1.2rem;
    color: forestgreen;
}